body {
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: rgb(15, 15, 15);
    font-size: 1.3rem; 
    font-weight: 700;
    box-sizing: inherit;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
}

label {
    display: block;
    margin-top: 15px; 
    background: white;
    color: rgb(33, 33, 33);
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    scroll-behavior: smooth;
    font-size: 14px; 
}

input[type="text2"], textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 4px; 
    margin-bottom: 12px; 
    height: 90px; 
    resize: none;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px; 
    margin-bottom: 12px; 
    height: 300px;
    /* resize: vertical; */
}

/* button by farfetch */
button { 
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 14px; 
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 40px; 
  min-width: 8px; 
  outline: none;
  overflow: hidden;
  padding: 7px 16px 6px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-bottom: 1rem;
}

button:hover {
    background-color: #343434;
}

#status {
    margin: 15px 0; 
    padding: 0px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container {
    width: 380px; 
    text-align: center;
    transform: translate3d(0, 0, 0);
    animation: popOut 1s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding-top: 12px; 
    padding-left: 28px; 
    padding-right: 28px; 
    padding-bottom: 8px; 
    background-color: white;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}